<p>
stay: <%= @perfume.stay_budget %><br>
food: <%= @perfume.food_budget %><br>
spot: <%= @perfume.spot_budget %><br>
region: <%= @perfume.region %>
</p>




<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの1泊2日の旅行プランは…</p>
</div>

<div class="perfume-container">
  <% case [@perfume.stay_budget, @perfume.food_budget, @perfume.spot_budget, @perfume.region] %>
  <% when [3,3,3,2] %>

    <h2 class="destination-title">熱海</h2>

    <div class="plan-visual-container">
      <div class="circle-item accommodation">
        <span class="label">宿泊場所</span>
        <div class="circle-content">ニューアカオ</div>
      </div>

      <div class="bottom-row">
        <div class="circle-item sightseeing">
          <span class="label">観光地</span>
          <div class="circle-content">来宮神社</div>
        </div>

        <div class="circle-item restaurant">
          <span class="label">飲食店</span>
          <div class="circle-content">海鮮丼</div>
        </div>
      </div>
    </div>
  <% end %>
</div>